/*common styles*/

html {
    box-sizing: border-box;
    font-size: 22px;
}

*, *::after, *::before {
    box-sizing: inherit;
}

:root {
    --dark: #4b636e;
    --grey: #78909c;
    --light: #a7c0cd;
    --text: #000;
    --text-hover: #fff;

    --modal-window: #be8a8a;
    --modal-button: #ac7b7b;
}


body {
    font-family: "Didact Gothic";
    font-style: normal;
    font-weight: 700;
    color: var(--text);
    background-color: var(--dark);
    background-image: url(../assets/img/background.jpg);
    background-size: cover;
    margin: 0;

}

.button {
    display: block;
    width: 100px;
    height: 60px;
    padding: 0px;
    font-family: inherit;
    text-align: center;
    font-size: 1.3rem;
    color: #000000;
    background-color: #bdae82;
    border: 0;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
}

.button:hover {
    color: #ffffff;
    background-color: #bdae82;

}

.first-list,
.third-list {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('../assets/img/select-arrow.svg');
    background-position: right 1vh top 50%;
    /*0, 0;*/
    background-size: 2vh auto, 100%;
    background-repeat: no-repeat;
}

/* remove arrows Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

select:focus,
input:focus,
input:hover {
    outline: 0;
}

h2 {
    height: 10%;
    margin: 0;
    text-align: center;
    line-height: 1.5rem;
    font-size: 1.5rem;
}

a:active,
a {
    text-decoration: none;
    color: var(--text);
    transition: .5s;
}

a:hover {
    color: var(--text-hover);
}

form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90%;
    width: 100%;
    gap: 2vw;
    color: var(--text);
}





/*header styles*/
.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Arbutus';
}

.logo-wrapper {
    margin-left: auto;
}

.logo {
    width: 100px;
    height: 100px;
    transition: .5s;
}

.logo:hover {
    transform: rotate(720deg);
}

.switch-lang {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: 70px;
    width: 70px;
    height: 50px;
}

.slash {
    display: block;
    font-weight: 700;
}

.en,
.ru {
    display: block;
    padding: 0;
    font-weight: 700;
    font-family: inherit;
    background-color: transparent;
    border: 0;
    transition: 0.5s;
    cursor: pointer;
}

.en:hover,
.ru:hover {
    color: var(--text-hover);
}

.en.active,
.ru.active {
    color: var(--text-hover);
}




/*main styles*/

.main {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 900px;
    gap: 3vh;
}

.wrapper {
    width: 1280px;
    margin: 0 auto;
    background-color: var(--grey)
}

section {
    width: 90%;
    background-color: var(--light);
    padding: 1vw;
    border-radius: 10px;
}








/*first section styles*/

.converter-wrapper {
    height: 35%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vh;
    height: 100%;
    width: 30%;
}

.exchange-input {
    padding-right: 25px;
}

.quantity-wrapper{
    position: relative;
}

.cross-wrapper{
    position: absolute;
    right: 80px;
    top: 4px;
}

.cross{
    cursor: pointer; 
    width: 25px;
    height: 25px;
    transition: .5s;
}


.buttons-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    height: 100%;
}

.swap-wrapper {
    display: flex;
    justify-content: center;
}

.swap-img {
    display: block;
    height: 60px;
    width: 60px;
    cursor: pointer;
    transition: .3s;
}

.swap-img.rotate {
    transform: rotate(360deg);
}





/*second section styles*/

.datepicker-wrapper {
    height: 50%;
}


.choice-section,
.display-section {
    height: 100%;
    display: flex;
    gap: 1vh;
}

.choice-section {
    flex-direction: column;
    width: 30%;
}

.display-section {
    width: 75%;
}

.output-wrapper {
    display: flex;
    justify-content: space-between;
    width: 200px;
    height: 30px;
    background-color: white;
}

.currency-label {
    width: 23%;
}

.display-output {
    width: 72%;
}




/*error window styles*/

.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 35%;
    width: 30%;
    height: 30%;
    background-color: var(--modal-window);
    color: var(--text);
    font-size: 1.5rem;
}

.error p {
    text-align: center;
}

.error.invisible {
    display: none;
}



/*footer styles*/

.footer {
    display: flex;
    justify-content: center;
    padding-bottom: 1vh;
}

.footer-wrapper {
    display: flex;
    gap: 1vh;
}

.footer-wrapper span,
.footer-wrapper a {
    display: block;
}