html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

:root {}


body {
    font-family: "Didact Gothic";
    font-style: normal;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    background-color: #000;
    margin: 0;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    background-color: blue;
}



.header {
    
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.converter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    min-height: 35vh;
    min-width: 50vw;
    color: #000;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vh;
    height: auto;
}

.button-wrapper {
    height: max-content;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('../assets/img/select-arrow.svg');
    background-position: right 10px top 50%, 0, 0;
    background-size: 12px auto, 100%;
    background-repeat: no-repeat;
}

select:focus,
input:focus,
input:hover {
  outline: 0;
}










.footer {
    display: flex;
    justify-content: center;
    padding-bottom: 1vh;
}

.footer-wrapper {
    display: flex;
    gap: 1vh;
}

.footer-wrapper span,
.footer-wrapper a {
    display: block;
}